.wrapper {
  position: relative;
}
.main_container {
  width: 90%;
  margin: 0 auto;
  .header-title{
    padding-top: 22px ;
    .gold-title{
      color: #16CA60;
      font-weight: 600;
      font-size: 20px;
    }
  }
  .main_row {
    height: 90vh;
    align-items: center;
    @media (max-width:768px){
      height: 100%;
      flex-direction: column-reverse;
      flex-wrap: unset;
    }
    @media (max-width: 575px) {
      height: 100vh;
      flex-direction: column-reverse;
      flex-wrap: unset;
      justify-content: flex-end;
      position: relative;
    }
  }
}
.form_container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  @media (max-width:768px){
    max-width: 400px;
    margin: 50px auto 50px auto;
  }
  @media (max-width: 575px) {
    max-width: 100%;
  }
  .heading {
    // margin-top: 35px;
    text-align: left;
  }
  form {
    margin-top: 59px;
    @media (max-width: 575px) {
      margin-top: 30px;
    }
    .text_field {
      text-align: left;
      label {
        // color: var(--color-secondary);
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 16px;
      }
    }
  }
}
.btn_back {
  text-align: left;
  // margin-top: 35px;
  a {
    color: var(--color-secondary);
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    display: flex;
    align-items: center;
    .mat-icon {
      margin-right: 15px;
      color: var(--color-secondary);
    }
  }
}
.heading {
  .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;
    // color: var(--color-secondary);
    margin-bottom: 0;
  }
  .subtitle {
    margin-top: 13px;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-gray);
    margin-bottom: 0;
  }
}
.button_submit {
  margin-top: 40px;
  @media (max-width: 575px){
    margin-top: 40px;
    position: absolute;
    width: calc(100% - 24px);
    bottom: 40px;
  }
  .loginbutton {
    width: 100%;
    padding: 13px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:var(--white);
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
  }
}

.right_bg {
  background-image: url("../../../assets/images/login/authmodule_bg_frame.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 475px;
  padding: 40px;
  @media (max-width:768px){
    margin: 50px auto 0 auto;
  }
  @media (max-width:576px) {
    max-width: 100%;
  }
  img {
    border-radius: 19px;
    @media (max-width:768px){
      width: 100%;
    }
    @media (max-width:576px) {
      width: 100%;
    }
  }
}
.left_bg{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 475px;
  padding: 20px;
  @media (max-width: 768px) {
    margin: 50px auto 0 auto;
  }
  @media (max-width: 576px) {
    max-width: 100%;
    display: none;
  }
  img {
    border-radius: 19px;
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 576px) {
      width: 100%;
    }
  }
}

.text_field{
  ::ng-deep .otp-input{
    font-size:18px;
    color: var(--color-primary);
  }
}


.remember_me{
  padding-top: 0;
  width: 350px;
  left: 10%;
  padding-bottom: 5%;
}

.rememberLabel {
  font-size: 18px;
}
.remember_me .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 10%;
  bottom: 10%;
}
.remember_me .form-check-inline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
}
.remember_me .form-check-inline .checkbox-set {
  margin-left: 5px;
}

.txt-center{
  text-align: -webkit-center;
}