:root {
  --black: #000;
  --white: #fff;
  --color-black-lgt: #060606;

  --color-light-green: #effcf4;
  --color-gray: #878787;
  --color-light-gray: #d5d3d3;
  --color-border: #c4c4c4;
  // --color-light-blue: #f5f8ff;
  --color-light-blue: #f6fdf9;
  --color-cards: #f3f7ff;
  --color-border-cards: #e4e4e4;
  --button-shadow: 0px 4px 21px rgba(26, 88, 246, 0.49);
  --button-primary-shadow: 0px 4px 21px rgba(85, 131, 248, 0.49);
  // --button-primary-shadow: 0px 4px 21px rgba(47, 50, 56, 0.49);

  --box-shadow: 0px 4px 52px rgba(169, 193, 255, 0.35);
  --button-dropdown-shadow: 0px 10px 24px rgba(26, 88, 246, 0.21);
  --button-primary-shadow: 0px 4px 21px rgba(47, 50, 56, 0.49);

  --color-table-heading: #edf0ff;
  --color-secondry-button: ##f6fdf9;
  --color-box-shdow: 0px 4px 11px rgba(26, 88, 246, 0.49);

  --color-orange: #eb6d00;

  --color-orange-light: #ffe9d6;
  --color-light-gray: #f8f8f8;
  --btn-color-green: #e4f8dd;
  --color-green-dark: #16ae07;
  --btn-color-red: #ffe2e1;
  --btn-color-yellow: #F6FDF9;

  --color-light-pink: rgba(255, 229, 246, 1);
  --color-LightBlue: #d5f9fc;
  --popup-shadow: 0px 4px 52px rgba(196, 196, 196, 0.38);

  --popup-share-h2: rgba(16, 42, 108, 1);
  --cards-p: #eb6d00;

  --color-light-blue-flep: rgb(214 223 247);
  --color-font-enquiry: #1655f5;
  --color-light-blue-address: rgb(176, 194, 245);
  --color-light-blue-enquiry: rgb(133, 164, 248);
  --color-light-blue-captcha: rgb(194, 205, 235);

  --color-primary: #16ca60;
  --color-green: #16ca60;
  --color-primary-hover: #2e68fc;

  //webcheckin-admin



  --color-light-saffaron: #e4f8dd;
  --color-secondary: #102a6c;


  --orang-color:#ff6c03;
  --blue-color:#5224de;
  --syan-color:#06b8fe;
  --red-color:#fd2358;

  --orang-light-color:#fff4eb;
  --blue-light-color:#ede9ff;
  --syan-light-color:#e1f6fe;
  --red-light-color:#fdeaf4;
}
