<div class="wrapper">
  <div class="main_container">
    <div class="container">
      <div class="header-title">
        <h1 class="gold-title txt-center">E-Commerce</h1>
      </div>

      <div class="row main_row">
        <div class="col-lg-6 col-md-12 txt-center">
          <div class="left_bg">
            <img src="assets/images/login-hero.jpg" class="img-fluid img1">
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="form_container">
            <div class="header">
              <!-- <div class="logo">
                <img src="../../../assets/images/logo.svg" class="img-fluid" />
              </div> -->
              <div class="btn_back">
                <a routerBack>
                  <mat-icon>keyboard_backspace</mat-icon>{{'BUTTON.BACK'|translate}}
                </a>
              </div>
              <div class="heading">
                <h1 class="title">{{'RESETPASSWORD.SETNEWPASSOWORD'|translate}}</h1>
                <p class="subtitle">{{'RESETPASSWORD.MESSAGE'|translate}}</p>
              </div>
            </div>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()">
              <div class="form-group paddingLabel required">
                <div class="text_field">
                  <label for="new_password">{{'RESETPASSWORD.NEWPASSWORD'|translate}}</label>
                  <mat-form-field appearance="outline" class="w-100 h-60">
                    <input type="password" [formControl]="resetPasswordForm.controls['new_password']" matInput
                      placeholder="{{'RESETPASSWORD.PLACEHOLDER'|translate}}" class="fas fa-eye-slash">
                  </mat-form-field>
                </div>
                <div class="text_field">
                  <label for="confirm_password">{{'RESETPASSWORD.CONFIRMPASSWORD'|translate}}</label>
                  <mat-form-field appearance="outline" class="w-100 h-60">
                    <input type="password" [formControl]="resetPasswordForm.controls['confirm_password']" matInput
                      placeholder="{{'RESETPASSWORD.PLACEHOLDER'|translate}}" class="fas fa-eye-slash">
                  </mat-form-field>
                </div>
              </div>
              <div class="button_submit">
                <a>
                  <button type="submit" class="loginbutton" [disabled]="showLoader">
                    {{'RESETPASSWORD.RESET_PASSWORD'|translate}}
                  </button>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<loading *ngIf="showLoader"></loading>

<!-- <div class="container">
  <mat-card class="form-container login-container">
    <form action="#">
      <div>
        <h2 class="logo"> </h2>
      </div>
      <div class="social-container">
        <a href="#" class="social"> <i class="fab fa-facebook-f"> </i> </a>
        <a href="#" class="social"> <i class="fab fa-google-plus-g"> </i> </a>
        <a href="#" class="social"> <i class="fab fa-linkedin-in"> </i> </a>
      </div>
      <div class="btn_back">
        <a routerBack>
          <img src="../../../assets/images/login/btn_arrow.svg" /> Back
        </a>
      </div>
      <div>
        <h1> Set New Password </h1>
      </div>
      <div class="form-group paddingLabel required">
        <mat-form-field appearance="outline" class="w-100 h-60">
          <mat-label class="label">New Password</mat-label>
          <input matInput placeholder="***********" class="fas fa-eye-slash">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 h-60">
          <mat-label class="label"> Confirm Password</mat-label>
          <input matInput placeholder="*************" class="fas fa-eye-slash">
        </mat-form-field>
      </div>
      <div class="buttons">
        <button type="submit" mat-raised-button class="loginbutton"
          [ngClass]="{'qt-loader qt-loader-mini qt-loader-left': showLoader}" [disabled]="showLoader">
          Reset Password
        </button>
      </div>
    </form>

    <div class="col-md-12">
      <img src="../../../assets/images/login/image nec.png" class="img1">
    </div>
  </mat-card>
</div> -->
