<div class="wrapper">
  <div class="main_container">
    <div class="container">

      <div class="header-title">
        <h1 class="gold-title txt-center">E-Commerce</h1>
      </div>

      <div class="row main_row">

        <div class="col-lg-6 col-md-12 txt-center">
          <div class="left_bg">
            <img src="assets/images/login-hero.jpg" class="img-fluid img1">
          </div>
        </div>


        <div class="col-lg-6 col-md-12">
          <div class="form_container">
            <div class="header">
              <!-- <div class="logo">
                <img src="assets/images/logo.svg" class="img-fluid" />
              </div> -->
              <div class="btn_back">
                <a routerLink="/login">
                  <mat-icon>keyboard_backspace</mat-icon>{{'COMMON.BUTTON.BACK'|translate}}
                </a>
              </div>
              <div class="heading">
                <h1 class="title">{{'FORGOT_PASSWORD.FORGOTPASSWORD'|translate}}</h1>
                <p class="subtitle">{{'FORGOT_PASSWORD.EMAILTAG'|translate}}</p>
              </div>
            </div>
            <form [formGroup]="forgotForm" (ngSubmit)="submitForm()">

              <div class="form-group paddingLabel required">

                <div class="text_field">
                  <label for="email_id">{{'FORGOT_PASSWORD.EMAIL'|translate}}</label>
                  <mat-form-field appearance="outline" class="w-100 h-60">
                    <input matInput [formControl]="forgotForm.controls['emailId']"
                      placeholder="{{'FORGOT_PASSWORD.EMAILPLACEHOLDER'|translate}}">
                  </mat-form-field>
                </div>
                <!-- <div class="remember_me">
                  <div class="form-group">
                    <div class="form-check form-check-inline mr-0">
                    </div>
                    <a routerLink="/login" class="forgot_password">Login</a>
                  </div>
                </div> -->
              </div>
              <div class="button_submit">
                <a>
                  <button type="submit" class="loginbutton" [disabled]="showLoader">
                    {{'FORGOT_PASSWORD.OTP'|translate}}
                  </button>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
