.pagination-foo {
  border-top: 1.94444px solid var(--color-border);
  padding-top: 20px;
  .pagin-sel {
    & label {
      color: var(--black);
    }
    ::ng-deep .select {
      border: none;
      background: var(--color-light-gray);
      border-radius: 5px;
      padding: 5px;
      margin-left: 5px;
      @media (max-width: 575.98px) {
        padding: 2px;
        margin-left: 2px;
      }
    }
  }

  & nav {
    & ul {
      align-items: center;
      & li {
        .active {
          width: 31px;
          height: 31px;
          background-color: var(--color-primary);
          color: var(--white);
          border-radius: 50px;
          margin-right: 3px;
          text-align: center;
        }
        @media (max-width: 575.98px) {
        .page-link {
          padding: 0.375rem 0.40rem;
      }
    }
      }
    }
  }
}

// .pagination-foo {
//     border-top: 1.94444px solid var(--color-border);
//     padding-top: 20px;
//     ::ng-deep pagination {
//       & label {
//         color: var(--black);
//       }
//       ::ng-deep .select {
//         border: none;
//         background: var(--color-light-gray);
//         border-radius: 5px;
//         padding: 5px;
//         margin-left: 5px;
//       }

//       & nav {
//         & ul {
//           align-items: center;
//           & li {
//             .active {
//               width: 31px;
//               height: 31px;
//               background-color: var(--color-primary);
//               color: var(--white);
//               border-radius: 50px;
//               margin-right: 3px;
//             }
//           }
//         }
//       }
//     }
//   }

a:hover {
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
}

@media (max-width: 575.98px) {

  .pagination-foo{
    padding: 15px 5px;
  }
}