<div class="side_container">
  <div class="card">
    <div class="card_details">
      <div class="d-flex justify-content-between">
        <h3 class="form-hadding">Change Password</h3>
      </div>
      <div class="form_container">
        <form [formGroup]="addForm" (ngSubmit)="submitForm()">
          <div class="form-group paddingLabel required">
            <div class="text_field">
              <label for="old password">Old Password <em>*</em></label>
              <mat-form-field appearance="outline" class="w-100 h-60">
                <input [formControl]="addForm.controls['old_password']" matInput [type]="hide ? 'password' : 'text'"
                  placeholder="Old Password">
                  <mat-icon matSuffix class="eye-icon1" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>
            <div class="text_field">
              <label for="new password"> New Password <em>*</em></label>
              <mat-form-field appearance="outline" class="w-100 h-60">
                <input [formControl]="addForm.controls['new_password']" matInput [type]="hide1 ? 'password' : 'text'"
                  placeholder="New Password">
                  <mat-icon matSuffix class="eye-icon2" (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>
            <div class="text_field">
              <label for="Confirm password"> Confirm Password <em>*</em></label>
              <mat-form-field appearance="outline" class="w-100 h-60">
                <input [formControl]="addForm.controls['confirm_password']" [type]="hide2 ? 'password' : 'text'" matInput
                  placeholder="Confirm Password">
                  <mat-icon matSuffix class="eye-icon3" (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>

            <div class="d-flex justify-content-center margin-y buttons">
              <button type="submit" mat-raised-button class="blue-btn">Save </button>
              <!-- <button mat-raised-button  class="blue-line-btn">Cancel</button> -->
            </div>

          </div>
        </form>
      </div>


    </div>
  </div>
